h1 {position: fixed;z-index:1;top: 0;width: 100%;}
h1 {list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color:red;}
li {float: left;}
h1
li a {display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;}
h1 {color: white}
search {float:right}
input {width: 8cm; height: 2.5cm}
input {font-size: 20}
input {text-align: center}
search {border-left: 3px black solid}
h1 {border-bottom: 1px grey solid}
h1 {font-family: sans-serif}
h1 {font-size: 70}
h2 {font-size: 30}
body {font-size: 100}
body {margin-top: 2.5cm}
footer {position: fixed; width: 100%; bottom: 0;}
footer {font-size: 10; text-decoration: none;}
a:link {text-decoration: none;}
a:link {color: black}
a:visited {color: black}
a:hover {color: darkblue}
footer {background-color:#2d2d2d; height: 10px}
footerwords {margin-left: 1cm}
footerwords {line-height: 0.8cm}
html {max-width: 1440px}
body {max-width: inherit}
h1 {max-width: inherit}
hea {max-width: inherit}
license {font-size: 15}
